<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HELP</title>
    <link rel="icon" href="/css/download.png">
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>
    {{>headers}}
    
    <h1>his/her age is {{age}}</h1>
    {{>footers}}
    <script src="/js/my.js"></script>
</body>
</html>